<div class ="container">

    <table class=" table table-tripped mt-2 ">
        <thead>
            <tr>

                <th scope ="col">Year</th>
                <th scope ="col">Name</th>
                <th scope ="col">Author</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let song of songs">
                <td scope="row">{{song.year}}</td>
                <td>{{song.name}}</td>
                <td>{{song.author}}</td>
            </tr>
        </tbody>
    </table>
</div>

